


<nb-layout>
  <nb-layout-header fixed> <h2 style="margin-left: 5px;position: absolute;left: 1px;bottom: 24%;text-align: left;">Movie <span style="color: #fa0;">L</span>ist</h2></nb-layout-header>
  <nb-layout-column class="colored-column-basic">
    
    <div id="login" style="margin-top: 38px;">
      <nb-card size="tiny" style="margin-right: auto;margin-left: auto;">
          <nb-card-header>Log <span style="color:#fa0 ;">I</span>n</nb-card-header>
  
          <button (click)="loginWithGoogle()" id="Blog" nbButton ><strong>Log in with <nb-icon icon="google-outline"></nb-icon></strong>
          </button>
  
        </nb-card>
  </div>

  </nb-layout-column>
</nb-layout>
