h2:hover{
color: #fa0;;
}

[nbButton] {
margin-right: 1rem;
margin-bottom: 1rem;
}
h3 {
margin-top: 1rem;
margin-bottom: 1rem;
}

.control-panel {
padding: 2rem;
}
.mebuB:hover{
background: #fa0 !important;    
color: black  !important;  
border: none  !important; 
}
nb-reveal-card{
    max-width: 310px;
    text-align: left;
    height: 220px;
   
}

#all{
    height:450px;
    overflow: auto;
    text-align: center;
    padding: 20px;
}

.Dbutton:hover{
    color: white;
}






    